div {
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(#fffbd4, #fff7ac, #fff494);
}

h2 {
    font-size: 30px;
    background-image: linear-gradient(#fc5c47, #ffd54a, #82ff51, #4effac, #4e68ff, #ff4dff);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    background-color: rgb(238, 238, 238);
    font-size: large;
    border: 2px solid rgb(59, 105, 255);
    height: 100px;
    width: 150px;
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
}

button:hover {
    transition: 1s;
    background-color: rgb(85, 125, 255);
    border: 2px solid rgb(85, 125, 255);
    color: white;
    cursor: pointer;
}