* {
    font-family: monospace;
}

body {
    background-color: #fffbd4;
}

header {
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

div#tapar {
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

div#editarFormulario {
    position: absolute;
    background-color: whitesmoke;
    width: 33%;
    min-height: 150px;
    border-radius: 20px;
    text-align: center;
    left: 30%;
    top: 20%;
    z-index: 2;
}

input[readonly] {
    cursor: not-allowed;
}

div.campos {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

table.campos {
    border-collapse: collapse;
    text-align: center;
}

table.campos thead tr {
    background-color: rgb(140, 190, 247);
}

table.campos th {
    font-size: large;
    padding: 1%;
}

table.campos thead tr {
    border-top: 3px black dashed;
}

table.campos > tbody tr {
    border-top: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #adadad;
}

table.campos td {
    padding: 1%;
}

.alinearIzquierda {
    text-align: left;
}

tr#filaFormulario {
    border-top: 5px black solid;
    border-bottom: 1px black solid;
}

textarea[name=descripcion] {
    resize: vertical;
}

#buscar input {
    font-size: 15px;
    padding: 10px;
}

#buscar button {
    font-size: 15px;
    padding: 10px;
    border: 3px rgb(130, 248, 145) solid;
    background-color: white;
    transition: 0.2s;
}

#buscar button:hover {
    background-color: rgb(130, 248, 145);
    transition: 1s;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #d1d1d1;
}