* {
    font-family: monospace;
}

.formulario {
    background-color: rgb(202, 202, 202);
    border-radius: 5%;
    box-shadow: 10px 10px 15px black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.input {
    display: inline-block;
    margin: 2%;
}

#nombres, #datos, #descripcion {
    text-align: center;
}

.tituloInline {
    display: inline-block;
}

.submits {
    margin: 5%;
    text-align: center;
}

input[type=submit], input[type=reset] {
    cursor: pointer;
}

input[type=submit], input[type=reset], button {
    box-shadow: black 2px -2px;
    padding: 1%;
    border: 0px;
    font-size: large;
    outline: none;
}

input[type=submit]:active, input[type=reset]:active, button:active {
    box-shadow: black 0px 0px;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color: rgb(230, 230, 230);
}

#botonPersonas {
    text-decoration: none;
    color: black;
}