Header set Access-Control-Allow-Origin "*"

RewriteEngine on

ErrorDocument 404 /pagina-no-encontrada

RewriteRule ^inicio$ index.html
RewriteRule ^crud/personas$ crud/personas.php
RewriteRule ^crud/persona/(\w*)$ crud/persona.php?dni=$1
RewriteRule ^pagina-no-encontrada$ 404.html